<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>All Books</title>
  </head>
  <body>
    <div class="nav--user">
      <a class="login-btn" href="/login"> login</a>
      <a class="login-btn" href="/signUp"> SignUp</a>
    </div>

    <h1>All books are here</h1>

    <table id="bookTable" width="90%" border="1px">
      <tr>
        <td>Book name</td>
        <td>Author name</td>
        <td>price</td>
        <td>PublishedOn</td>
        <td>Delete</td>
      </tr>
    </table>

    <!-- <table width="90%" border="1px"></table> -->

    <span class="create-book">
      create
      <a href="/create_book"> book</a>
    </span>
    <span class="create-book">
      create
      <a href="/create_author"> Author</a>
    </span>
  </body>

  <script>
    const getBooks = async () => {
      const bookData = await fetch("http://localhost:8000/api/v1/book");
      const bookAwait = await bookData.json();

      console.log(bookAwait);

      const tableOption = document.getElementById("bookTable");

      for (i = 0; i <= bookAwait.book.length - 1; i++) {
        let temp = "";
        let rows;
        rows = document.createElement("tr");
        temp += "<td>" + bookAwait.book[i].name + "</td>";
        temp += "<td>" + bookAwait.book[i].author.name + "</td>";
        temp += "<td>" + bookAwait.book[i].price + "</td>";
        temp += "<td>" + bookAwait.book[i].publishedOn + "</td>";

        temp +=
          "<td>" +
          `<button  onClick=deleteBook(${bookAwait.book[i].name})> delete </button>` +
          "</td>";
        temp += rows.innerHTML = temp;
        tableOption.appendChild(rows);
      }
    };

    const deleteBook = async (e) => {
      console.log("jkhj");
      const id = e;
      console.log(id);
      // const deletedata = await fetch(`http://localhost:8000/api/v1/book/`);
    };

    getBooks();
  </script>
</html>
